{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{% trans "Sign Up" %}</h1>

            <p>
                Вы собираетесь использовать свою учетную запись {{provider_name}} для входа в {{site_name}}.
                В качестве последнего шага, пожалуйста, заполните следующую форму:
            </p>

            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="id_email">E-mail (не обязательно):</label>
                    <input type="email" class="form-control" name="email" value="{{ form.email.value|default_if_none:"" }}" placeholder="E-mail адрес" id="id_email"></p>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>

{% endblock %}