{% extends 'base.html' %}
{% load static %}
{% block title %}Для правообладателей{% endblock %}
{% block breadcrumb %}<a href="/">Главная</a> / Для правообладателей {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="text">
                <div class="b-prgrph">
                    Если вы обнаружили материал, представленный на нашем сайте, который нарушает ваши авторские
                    права, или же дискредитирует Вашу компанию, предоставляя неверную или искаженную информацию,
                    пожалуйста свяжитесь с нами для решения этого вопроса.
                </div>
                <div class="b-prgrph">
                    Для этого необходимо отправить e-mail с вашего корпоративного почтового ящика содержащий:
                </div>
                <ul class="b-list">
                    <li> контактные данные, реквизиты вашей компании; </li>
                    <li> прямую ссылку(ссылки) на материал, который вы считаете спорным; </li>
                    <li> заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал; </li>
                    <li> в случае, если вы представляете интересы другой компании – копии документов на посреднические услуги; </li>
                </ul>
                <div class="b-prgrph">
                    На адрес <a href="mailto:info@libs.ru">info@libs.ru</a>
                </div>
                <div class="b-prgrph">
                    Вся информация будет проверена, и администрация сайта в кратчайшие сроки свяжется с
                    вами для урегулирования спорного вопроса.
                </div>
                <div class="b-prgrph">
                    Мы не продаём материалы на нашем сайте, весь контент предоставлен для бесплатного домашнего
                    ознакомительного просмотра.
                </div>
            </div>
        </div>
    </div>
{% endblock %}