{% extends 'base.html' %}
{% load static %}
{% block title %}Правила и соглашения{% endblock %}
{% block breadcrumb %}<a href="/">Главная</a> / Правила и соглашения {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="text">
                <h2>Согласие на обработку персональных данных</h2>
                <p>
                    Я, cвоей волей и в своем интересе даю согласие на обработку, в том числе на сбор,
                    систематизацию, накопление, хранение (уточнение, обновление, изменение), использование,
                    блокирование и уничтожение моих персональных данных – фамилии, имени, отчества,
                    адреса электронной почты, Обществу с ограниченной ответственностью "ИНФОРМАЦИОННЫЕ СИСТЕМЫ РУ", расположенному по адресу:
                    195197, г. Санкт-Петербург, улица Херсонская, д. 31, литер А, пом. 1-Н, (далее – «Портал»),
                    с целью распространения информационных и рекламных сообщений (электронной почте и иным средствам связи), получения обратной связи.
                </p>
                <p>
                    Подтверждаю, что персональные данные и иные сведения, относящиеся ко мне (фамилия, имя, отчество,
                    адрес электронной почты) предоставлены мною Порталу путем внесения их при регистрации на сайте libs.ru
                    добровольно и являются достоверными. Я извещен о том, что в случае недостоверности предоставленных персональных и сведений
                    Портал оставляет за собой право прекратить обслуживание посредством сайта libs.ru.
                </p>
                <p>
                    Я согласен, что мои персональные данные будут обрабатываться способами,
                    соответствующими целям обработки персональных данных, без возможности принятия решения на
                    основании исключительно автоматизированной обработки моих персональных данных.
                </p>
                <p>
                    Согласие дается мной на 10 лет с момента регистрации на сайте libs.ru.
                </p>
                <p>
                    Настоящее согласие может быть отозвано мной в любой момент путем направления письменного требования в адрес
                    Портала. Адрес электронной почты Портала: info@libs.ru.
                </p>

            </div>
        </div>
    </div>
{% endblock %}