{% extends 'base.html' %}
{% load l10n static cache %}
{% block title %}Список коллекций{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}Список коллекций{% endblock %}
{% block page_title %}Коллекции{% endblock %}
{% block page_title_small %}Коллекции{% endblock %}
{% block breadcrumb %}<a href="/">Главная</a> / Коллекции{% endblock %}
{% block content %}
    {% cache 86400 libs__collection %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <div id="libs__collection">
                <div class="libs__collection">
                    {% for collection in collections %}
                        <div class="card libs__author">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <div class="product-wrapper-2">
                                            <div class="product-img">
                                                <a href="{{ collection.get_absolute_url }}">
                                                    {% if collection.image %}
                                                        <img
                                                                src="{{ collection.image.url }}"
                                                                title="{{ collection.title }}"
                                                                class="figure-img img-fluid"
                                                        />
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="libs__rating">
                                                <star-rating
                                                        v-bind:increment="1" :round-start-rating="false"
                                                        v-bind:max-rating="5"
                                                        inactive-color="#ccc"
                                                        active-color="#45a6f3"
                                                        v-bind:star-size="15"
                                                        :read-only="false"
                                                        :rating="{{ collection.rating | unlocalize }}"
                                                        @rating-selected="setCollectionRating($event, {{ collection.id }})"
                                                >
                                                </star-rating>
                                            </div>
                                            <div class="libs__views">
                                                <span title="Просмотры"><img src="{% static 'images/eye.png' %}" alt="Количество просмотров"> {{ collection.show_counter }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <div class="libs__author_name">
                                            <a href="{{ collection.get_absolute_url }}">{{ collection.title }}</a>
                                        </div>
                                        <div class="libs__author_birthday">
                                            Дата обновления: {{ collection.date_update }}
                                        </div>
                                        <div class="libs__author_book_count">
                                            Всего книг: {{ collection.book.all.count }}
                                        </div>
                                        <div class="libs__author_description">
                                            {{ collection.text | striptags | truncatewords:20 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if is_paginated %}
                    <nav aria-label="Коллекции">
                        <ul class="pagination">
                            <li class="page-item">
                                {% if page_obj.has_previous %}
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Назад">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Назад</span>
                                    </a>
                                {% endif %}
                            </li>
                            {% for object in page_obj.paginator.page_range %}
                                {% if forloop.counter < 10 %}
                                    {% if page_obj.number ==  forloop.counter %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{ page_obj.number }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li class="page-item">
                                {% if page_obj.has_next %}

                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Вперед">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Вперед</span>
                                    </a>
                                {% endif %}

                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            {% include "ratings_block_right.html" %}
        </div>
    </div>
    {% endcache %}
{% endblock %}