{% extends "base.html" %}

{% block head_title %}404 Страница не найдена{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-head">
            <div class="page-head__title">404 Страница не найдена</div>
        </div>
        <section class="page-content">
            <div class="article">
                Воспользуйтесь поиском
            </div>
            <div class="ya-site-form ya-site-form_inited_no" onclick="return {
                    'action': '//libs.ru/search/',
                    'arrow': false,
                    'bg': 'transparent',
                    //'fontsize': 12,
                    'fg': '#000000',
                    'language': 'ru',
                    'logo': 'rb',
                    'publicname': 'Поиск по Libs.ru',
                    'suggest': true,
                    'target': '_self',
                    'tld': 'ru',
                    'type': 2,
                    'usebigdictionary': true,
                    'searchid': 2247879,
                    //'input_fg': '#000000',
                    //'input_bg': '#ffffff',
                    //'input_fontStyle': 'normal',
                    //'input_fontWeight': 'normal',
                    //'input_placeholder': null,
                    //'input_placeholderColor': '#000000',
                    //'input_borderColor': '#7f9db9'
        }">
            <form action="https://yandex.ru/search/site/" method="get" target="_self" class="form-inline mt-2 my-lg-0">
                <input type="hidden" name="searchid" value="2247879"/>
                <input type="hidden" name="l10n" value="ru"/>
                <input type="hidden" name="reqenc" value="utf-8"/>
                <input type="search" name="text" value="" aria-label="Найти"/>
                <input type="submit" value="Найти" class="btn btn-outline-success my-2 my-sm-0"  />
            </form>
        </div><style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }</style><script type="text/javascript">(function (w, d, c) {
        var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement;
        if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
            e.className += 'ya-page_js_yes';
        }
        s.type = 'text/javascript';
        s.async = true;
        s.charset = 'utf-8';
        s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
        h.parentNode.insertBefore(s, h);
        (w[c] || (w[c] = [])).push(function () {
            Ya.Site.Form.init()
        })
    })(window, document, 'yandex_site_callbacks');</script>

    </div>
        </section>
    </div>
{% endblock %}