{% extends 'base.html' %}
{% load books_inline cache %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block title %}100 лучших книг русских авторов{% endblock %}
{% block description %}100 лучших книг русских авторов{% endblock %}
{% block page_title %}100 лучших книг русских авторов{% endblock %}
{% block page_title_small %}100 лучших книг русских авторов{% endblock %}
{% block breadcrumb %}<a href="/">Главная</a> / <a href="/ratings/">Рейтинги</a> / 100 лучших книг русских авторов{% endblock %}
{% block content %}
    {% cache 3600 best_russian %}
<div class="row">
    <div class="col-12 col-lg-8">
            <div class="row la__books" id="libs-rating-books">
                {% books_inline books %}
            </div>
        </div>
        <div class="col-12 col-lg-4">{% include "ratings_block_right.html" %}</div>
    </div>
    {% include "ratings_block_bottom.html" %}
    {% endcache %}
{% endblock %}
{% block script_footer %}
    {% render_bundle 'ratings' %}
{% endblock %}