{% load static %}
<div class="card libs__card">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title | safe }}</a></h5>
        <div class="row">
            <div class="col-12">
                <span class="badge badge-info">Книга</span>
            </div>
            <div class="col-5">
                <a href="{{ book.get_absolute_url }}">
                <img
                        src="{{ book.get_image }}"
                        title="{{ book.title }}"
                        class="figure-img img-fluid"
                />
                    </a>
            </div>
        </div>
        <p class="card-text">
            {{ book.description | striptags | truncatechars:80 }}
        </p>
        <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Читать дальше</a>
    </div>
    <div class="card-footer text-muted">
        <span title="Просмотры"><img src="{% static 'images/eye.png' %}" alt="Количество просмотров"> {{ book.show_counter }}</span>
        Автор {{ book.get_link_authors | safe }}, дата {{ book.date_create }}
    </div>
</div>